@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@supports (
  not ((backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)))
) {
  .blur_filter.blur {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
html {
  /* Prevent font scaling in landscape */
  -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
  -moz-text-size-adjust: none; /*Firefox*/
  -ms-text-size-adjust: none; /*Ie*/
  -o-text-size-adjust: none; /*old versions of Opera*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 1300px;
  font-family: "Noto Sans KR", sans-serif;
  background: linear-gradient(-30deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradientBG 10s ease infinite;
  scroll-behavior: smooth;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
a:link {
  color: rgb(40, 40, 40);
}
a:visited {
  color: rgb(40, 40, 40);
}
a:hover {
  color: rgb(40, 40, 40);
}
a:active {
  color: rgb(40, 40, 40);
}
p {
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.header_bar {
  position: fixed;
  top: 0;
  height: auto;
  z-index: 20;
}

.header_home {
  margin: 0px 15px 15px 15px;
  padding: 10px 5px 15px 5px;
  position: fixed;
  top: 0;
  font-size: 18px;
  width: 190px;
  text-align: center;
  color: rgb(40, 40, 40);
  z-index: 20;
  border-radius: 0px 0px 30px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.header_hone:hover {
  background-color: rgba(230, 230, 230, 0.5);
  transition: 0.5s;
}

.audio_wrap {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 15px;
  width: 190px;
  top: 50px;
  border-radius: 30px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

audio {
  height: 30px;
  margin: 10px;
}

audio::-webkit-media-controls-panel {
  border-radius: 30px;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

audio::-webkit-media-controls-timeline {
  display: none;
}

.window_wrap {
  width: 100%;
  height: 0%;
  position: fixed;
  visibility: hidden;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
}

.dark_mode_info {
  width: 500px;
  padding: 50px;
  text-align: center;
  border-radius: 30px;
  backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

.dark_mode_button {
  margin: 0px 15px 15px 15px;
  padding: 10px 15px 15px 15px;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  font-size: 18px;
  color: rgb(40, 40, 40);
  z-index: 20;
  border-radius: 0px 0px 30px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.dark_mode_button:hover {
  background-color: rgba(230, 230, 230, 0.5);
  transition: 0.5s;
}

.dark_mode_button:hover + .window_wrap {
  height: 100%;
  display: flex;
  visibility: visible;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.hidden_button_wrap {
  position: fixed;
  width: 120px;
  height: 120px;
  top: 45%;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.hidden_button {
  width: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 0px;
  text-align: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hidden_button_wrap:hover .hidden_button {
  margin: 10px;
  width: 100px;
  height: 100px;
  font-size: 70px;
  transition: 0.5s;
}

.hidden_button_wrap:hover + .window_wrap {
  height: 100%;
  display: flex;
  visibility: visible;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.left_vibing_cat {
  width: 25%;
  position: fixed;
  bottom: -30px;
  left: 0px;
}

.right_vibing_cat {
  width: 25%;
  position: fixed;
  bottom: -30px;
  right: 0px;
  transform: scaleX(-1);
}

.left_dancing_cat {
  width: 20%;
  position: fixed;
  bottom: 30%;
  left: 10%;
}

.right_dancing_cat {
  width: 20%;
  position: fixed;
  bottom: 30%;
  right: 10%;
  transform: scaleX(-1);
}

.god_cat {
  width: 30%;
  border-radius: 100%;
  z-index: 30;
}

.holy_light {
  width: 20%;
  height: 50%;
  position: absolute;
  border-radius: 100%;
  background-color: yellow;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
}

.side_bar {
  margin: 0;
  padding: 8px;
  position: fixed;
  top: 40%;
  left: 10px;
  width: 23px;
  height: auto;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;
  transition: 0.5s;
}

.side_bar:hover {
  width: 160px;
}

.side_elem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side_elem > a {
  font-size: 20px;
  color: rgb(40, 40, 40);
  transition: 0.3s;
}

.side_elem > a:hover {
  font-size: 23px;
}

.bottom_bar_wrap {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

.bottom_bar {
  margin: 10px;
  padding: 0;
  position: fixed;
  width: 30%;
  min-width: 400px;
  height: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: 0.5s;
}

.bottom_bar_wrap:hover .bottom_bar {
  margin-bottom: 20px;
}

.info_wrap {
  position: static;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_box {
  margin: 50px 0 50px 0;
  padding: 50px 0 50px 0;
  overflow: hidden;
  width: 50%;
  min-width: 800px;
  min-height: 300px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

.emoji_none {
  margin: 0;
  padding: 0;
  width: 30%;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.title {
  margin: 0 0 30px 0;
  color: rgb(40, 40, 40);
  font-size: 80px;
}

.text {
  margin: 0;
  color: rgb(40, 40, 40);
  font-size: 18px;
}

.cat_img {
  margin-bottom: 30px;
  width: 100%;
  height: 200px;
  background: url("source/cat_background_img.png");
  background-size: auto 200px;
  animation: gradientBG 20s ease infinite;
}

.context_container {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.context_container > img {
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

.button {
  width: 150px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.hashtag {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 5px 20px 7px 20px;
}

@media (prefers-color-scheme: dark) {
  a {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
  }
  a:active {
    color: white;
  }
  p {
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  }

  .header_home {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header_hone:hover {
    background-color: rgba(30, 30, 30, 0.5);
  }

  .audio_wrap {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .dark_mode_button {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .dark_mode_button:hover {
    background-color: rgba(30, 30, 30, 0.5);
  }

  .dark_mode_info {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .side_bar {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  }

  .side_elem > a {
    color: white;
  }

  .hidden_button {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .bottom_bar {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  }

  .bottom_bar_wrap:hover .bottom_bar {
    margin-bottom: 20px;
  }

  .info_box {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  }

  .emoji_none {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .title {
    color: white;
  }

  .text {
    color: white;
  }

  .context_container > img {
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  }

  .button {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .button:hover {
    background-color: rgba(200, 200, 200, 0.1);
  }

  .hashtag {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
