@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*#ee7752, #e73c7e, #23a6d5, #23d5ab
#ee7652d7, #e73c7ebe, #23a5d5b9, #23d5abc4*/
html,
body {
  margin:0;
  width:100%;
  height:100%;
  min-width: 1000px;
  font-family: 'Noto Sans KR', sans-serif;
  background: linear-gradient(-30deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradientBG 10s ease infinite;
  scroll-behavior: smooth;
}
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

a {text-decoration: none; text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);}
a:link {color : white;}
a:visited {color : white;}
a:hover {color : white;}
a:active {color : white}
p {text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);}

.header_bar {
  margin: 15px;
  position: fixed;
  top: 0;
  font-size: 20px;
  color: white;
}

.side_bar {
  margin: 0;
  padding: 8px;
  position: fixed;
  top: 40%;
  left: 10px;
  width: 23px;
  height: auto;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  overflow: hidden;
  white-space: nowrap;
  transition: 0.5s;
}

.side_bar:hover {
  width: 160px;
}

.side_elem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side_elem > a {
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

.side_elem > a:hover {
  font-size: 23px;
}

.bottom_bar_wrap {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

.bottom_bar {
  margin: 10px;
  padding: 0;
  position: fixed;
  width: 30%;
  min-width: 400px;
  height: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: 0.5s;
}

.bottom_bar_wrap:hover .bottom_bar {
  margin-bottom: 20px
}

.info_wrap {
  position: static;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_box {
  margin: 50px 0 50px 0;
  padding: 50px 0 50px 0;
  overflow: hidden;
  width: 50%;
  min-width: 800px;
  min-height: 300px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

.emoji_none {
  margin: 0;
  padding: 0;
  width: 30%;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.title {
  margin: 0 0 30px 0;
  color: white;
  font-size: 80px;
}

.text {
  margin: 0;
  color: white;
  font-size: 18px;
}

.cat_img {
  margin-bottom: 30px;
  width: 100%;
  height: 200px;
  background: url("source/cat_background_img.png");
  background-size: auto 200px;
  animation: gradientBG 20s ease infinite;
}

.context_container {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.context_container > img {
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.2);
}

.button {
  width: 150px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.05  );
}

.hashtag {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 5px 20px 7px 20px;
}